=========================

Go

=========================

bin/ tmp/ .exe .exe~ .out .test

Vendor (if you are not committing vendor)

vendor/

=========================

OS Files

=========================

.DS_Store Thumbs.db

=========================

IDE / Editor

=========================

.vscode/ .idea/

=========================

Logs

=========================

*.log

=========================

Docker

=========================

docker-data/
