services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  identity-mock:
    image: wiremock/wiremock:3.9.1
    command: ["--port", "8080"]
    volumes:
      - ./docker/wiremock/identity/mappings:/home/wiremock/mappings:ro
    ports:
      - "18081:8080"

  availability-mock:
    image: wiremock/wiremock:3.9.1
    command: ["--port", "8080"]
    volumes:
      - ./docker/wiremock/availability/mappings:/home/wiremock/mappings:ro
    ports:
      - "18082:8080"

  app:
    image: golang:1.25-alpine
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "go install github.com/air-verse/air@latest && air"
    environment:
      HTTP_ADDR: ":8080"
      REDIS_ADDR: "redis:6379"
      IDENTITY_BASE_URL: "http://identity-mock:8080"
      AVAILABILITY_BASE_URL: "http://availability-mock:8080"
      UPSTREAM_TIMEOUT: "3s"
      IDENTITY_CACHE_EXPIRY: "2m"
      AVAILABILITY_CACHE_EXPIRY: "10m"
      SKIP_CACHE: "true"
    depends_on:
      - redis
      - identity-mock
      - availability-mock
    ports:
      - "8080:8080"
